.container {
    position: relative;
  }
  
  .Bottom {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: transparent;
  }
  
  .Top {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: transparent;
  }

  /* Background Scribble */
  
  .Bottom-flex {
    display: flex;
  }

  .img-size {
    width: 50%;
    height: auto;
  }

  .left-img {
    margin-left: -50px;
    margin-top: -50px;
  }

  .right-img {
    float: right;
    margin-right: -50px;
    margin-top: -50px;
  }


  /* mainpart */

  .TopFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .Section {
    padding: 7.5em;
  }

  .coverImg {
    width: 50%;
    height: auto;
  }

  .cr-logo {
    width: 250px;
    height: auto;
  }

  .logo-Div {
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cover-div {
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: right;
    align-items: end;
    margin: 0%;
    padding: 0%;
  }

  .Landing-cover {
    width: 700vh;
    height: auto;
  }